@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-montserrat), sans-serif;
}
/* globals.css or your global styles file */
body::-webkit-scrollbar {
  width: 6px; /* Adjust as needed */
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #8B5CF6;
  border-radius: 3px; /* Adjust as needed */
}